//Début code Johan
//Contient la mise en page global da la page "erreur 404"
.message_error {
  color: #ff6060;
  text-align: center;
  min-height: 85vh;
  margin-bottom: -40px;
}

.error_title {
  font-size: 288px;
  margin: 0;
}

.error_text {
  font-size: 36px;
}

.error_redirection {
  border: none;
  cursor: pointer;
  background: none;
  font-size: 18px;
  text-decoration: underline;
  margin-top: 50px;
}

//Contient les média querries
@media (max-width: 768px) {
  .message_error {
    margin-top: 160px;
    margin-bottom: -90px;
  }
  .error_title {
    font-size: 96px;
  }
  .error_text {
    font-size: 22px;
  }
}

@media (max-width: 425px) {
  .message_error {
    margin-bottom: -150px;
  }
  .error_title {
    margin-top: 100px;
  }
  .error_text {
    margin-top: 100px;
    text-wrap: balance;
  }
  .error_redirection {
    margin-top: 100px;
  }
}

//Fin code Johan
