//Début code Johan
//Contient la mise en page globale du "footer"
.footer {
  background-color: black;
  display: grid;
  justify-content: center;
  gap: 29px;
  padding-top: 66px;
  padding-bottom: 29px;
  .footer_logo {
    margin: auto;
  }
  .footer_link {
    padding-left: 120px;
  }
}

//Contient les média querries
@media (max-width: 888px) {
  .footer {
    .footer_logo {
      width: 122px;
      height: 40px;
    }
    .footer_link {
      padding-left: 0;
    }
  }
}

@media (max-width: 888px) {
  .footer_img {
    width: 134px;
    position: relative;
    bottom: 20px;
  }
}

//Fin code Johan
