//Début code Johan
//Contient la mise en page d'un "logement"

.pictures {
  display: flex;
  gap: 20px;
  flex-direction: column;
  //Mise en page des img d'un "logement"
  top: 10px;
  position: relative;
  img {
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
  }
  .fa-solid {
    color: #ff6060;
  }
}

//Mise en page globale d'un logement
.layout_logement {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  min-height: 85vh;
}

.container_logement {
  width: 70%;
  font-weight: bold;
  bottom: 30px;
  position: relative;
}

.container_logement_2 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.container_information_logement {
  position: relative;
  top: 50px;
}

//Boutons "logement"
.logement_btn {
  background-color: #ff6060;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 18px;
  color: white;
  text-wrap: balance;
  max-width: 100%;
  width: 80%;
  height: 100%;
}
.logement_sheet {
  gap: 76px;
  max-width: 1440px;
  position: relative;
  display: flex;
  bottom: 40px;
}

//Mise en page du titre d'un "logement"
.title_housing {
  color: #ff6060;
  font-size: 36px;
  position: relative;
  top: 45px;
  margin: 0;
}
.housing_location {
  position: relative;
  top: 35px;
  font-size: 18px;
}

//Contient la mise en page des éléments d'équipements
.content_equipments {
  margin: auto;
}

//Tags d'un "logement"
.tags_housing {
  display: flex;
  gap: 10px;
}
.tags_btn {
  color: white;
  background-color: #ff6060;
  border-radius: 12px;
  position: relative;
  border: none;
  right: 40px;
  top: 40px;
  text-align: center;
  display: inline-block;
  padding: 0 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  border-radius: 10px;
}

//Nom du propriétaire
.owner_composition {
  position: relative;
}
.owner_name {
  color: #ff6060;
  font-size: 20px;
  position: absolute;
  text-align: right;
  text-wrap: balance;
  margin: 0;
  width: 0px;
  bottom: 170px;
  right: 180px;
}
.owner_accommodation {
  text-align: right;
  position: relative;
  bottom: 150px;
  margin: 0;
}
.img_owner {
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

//Note d'un "logement" + Mise en page des "icon stars"
.rate_housing {
  position: relative;
  justify-content: right;
  bottom: 130px;
  display: flex;
}
.star {
  font-size: 1.5rem;
}
.star_rating {
  display: flex;
  gap: 10px;
}

//Contient les média querries

@media (max-width: 1440px) {
  .layout_logement {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .layout_logement {
    bottom: 20px;
    position: relative;
  }
  .pictures {
    top: 20px;
  }
  .container_logement {
    bottom: 0;
  }
  .container_logement_2 {
    margin-top: 100px;
    top: 90px;
  }
  .container_information_logement {
    top: 0;
    bottom: 20px;
  }
  .title_housing {
    font-size: 25px;
  }
  .housing_location {
    font-size: 13px;
  }
  .logement_sheet {
    flex-direction: column;
    gap: 40px;
  }
  .logement_btn {
    width: auto;
  }
  .tags_housing {
    flex-wrap: wrap;
  }
  .tags_btn {
    font-size: 12px;
  }
  .img_owner {
    height: 70px;
    width: 70px;
  }
  .owner_accommodation {
    bottom: 130px;
  }
  .owner_name {
    font-size: 13px;
    right: 135px;
    bottom: 150px;
  }
  .rate_housing {
    justify-content: left;
    bottom: 170px;
  }
  .star {
    font-size: 1rem;
  }
}

//Fin code Johan
