//Début code Johan
//Contient la mise en page global des "img des logements"
.thumb {
  max-width: 360px;
  height: 346px;
  border: solid 2px transparent;
  cursor: pointer;
  position: relative;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 50px;
  bottom: 50px;
  top: 50px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  //Mise en page du titre de chaque "img des logements"
  h3 {
    position: absolute;
    bottom: 10px;
    padding-left: 10px;
    font-weight: normal;
    text-wrap: balance;
  }
  .thumb_title {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 18px;
    margin: 0;
    height: 20%;
    width: 100%;
    background: linear-gradient(180deg, #0000, #000c); //Pour assombrir une img
    border-radius: 15px;
    height: 100%;
    position: absolute;
    width: 100%;
    &:hover {
      background: linear-gradient(
        180deg,
        rgba(49, 49, 49, 0.8),
        #000000
      ); //Pour assombrir une img
      border-radius: 15px;
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }
}

//Contient les média querries
@media (max-width: 1024px) {
  .thumb {
    height: 255px;
    max-width: 888px;
    width: 85vw;
    h3 {
      text-wrap: balance;
      bottom: 10px;
    }
    img {
      height: 255px;
      max-width: 888px;
      width: 85vw;
    }
    .thumb_title {
      height: 255px;
      max-width: 888px;
      width: 85vw;
    }
  }
}

//Fin code Johan
